body {
    background-color: hsl(0, 0%, 95%);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-bottom: 4rem;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    padding: 3rem;
    max-width: 13rem;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    padding: 0.7rem 2rem;
    border: 0;
    border-radius: 2rem;
}

.btn:hover {
    background: rgba(0, 0, 0, 0);
    color: white;
    box-shadow: 0 0 0 0.1rem hsl(0, 0%, 95%);
}

.Sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-Sedans {
    color: hsl(31, 77%, 52%);
}

.SUVs {
    background-color: hsl(184, 100%, 22%);
}

.btn-suvs {
    color: hsl(184, 100%, 22%);
}

.Luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
}


.attribution {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:1000px) {

    main {
        min-height: 150vh;
        flex-direction: column;
    }

    p {
        padding-bottom: 0.5rem;
    }

    .Sedans {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .Luxury {
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }


}
